/*
	===============================================
	Accessible Exit Disclaimer related classes.
	===============================================
*/

/*------------------------------------------------------------------------------
  Structure
------------------------------------------------------------------------------*/

#accessible-exit-disclaimer-overlay {
  width: 100%;
  height: 100%;
  z-index: 2; /* places the modal overlay between the main page and the modal dialog*/
  background-color: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  padding: 0;
}

#accessible-exit-disclaimer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: thin #000 solid;
  background-color: #fff;
  z-index: 9999; /* places the modal dialog on top of everything else */
  position: fixed;
  top: 40%;
  left: 25%;
  display: none;
  padding: 1em;
}

#accessible-exit-disclaimer .sr-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*------------------------------------------------------------------------------
  Disclaimer Heading and Body Text
------------------------------------------------------------------------------*/

#accessible-exit-disclaimer .aed-header {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 1em 0;
}

#accessible-exit-disclaimer #aed-body {
  margin: 0;
}

/*------------------------------------------------------------------------------
  Footer Buttons and Close Button
------------------------------------------------------------------------------*/

.aed-footer {
  padding: 1em 1em 0;
}

#accessible-exit-disclaimer .aed-buttons,
#accessible-exit-disclaimer .aed-redirect {
  width: 50%;
}

#accessible-exit-disclaimer .aed-redirect {
  float: left;
}

#accessible-exit-disclaimer .aed-buttons {
  float: right;
}

.aed-buttons span {
  float: right;
}

#accessible-exit-disclaimer #continueButton,
#accessible-exit-disclaimer #stayHereButton {
  padding: 0.375em 0.75em;
  font-size: 1em;
  margin-right: 0.3125em;
  color: #fff;
  line-height: 1.5;
  border-radius: 0;
  cursor: pointer;
}

#accessible-exit-disclaimer #continueButton {
  background-color: #00a300;
}

#accessible-exit-disclaimer #stayHereButton {
  background-color: #ee1111;
}

#accessible-exit-disclaimer .aed-close {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#accessible-exit-disclaimer .aed-close img {
  border: 0;
}

/*------------------------------------------------------------------------------
  Media Queries
------------------------------------------------------------------------------*/

@media all and (max-width: 64em) {
  #accessible-exit-disclaimer {
    width: 80%;
    left: 10%;
  }
}

@media all and (max-width: 48em) {
  #accessible-exit-disclaimer {
    width: 100%;
    left: 0;
  }
}
